/** ====================
=========GLOBAL=========
========================**/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

/** ====================
=========HEADER=========
========================**/

/*
    HEADER typography etc
*/

header {
    background: #1F2937;
    padding: 16px 300px;
    padding-bottom: 100px;
}


.nav-logo,
.hero-main-text {
    color: #F9FAF8;
}

.nav-link,
.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text,
.hero-subtext {
    width: 550px;
    margin-bottom: 16px;
}

.nav-logo {
    font-size: 24px;
    font-weight: 700;
}

.nav-link {
    text-decoration: none;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-button {
    background: #3882F6;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 12px;
    width: 120px;
}

.hero-right {
    background: gray;
}

.hero-image {
    background: gray;
    color: lightgray;
}


/*
       HEADER layout
*/

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.nav {
    display: flex;
    gap: 16px;
}

.header-hero {
    display: flex;
    justify-content: space-between;
}

.hero-right {
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}



/** ================================
=========INFO-SECTION========
=================================**/


/**
    INFO-SECTION typography, etc.
**/

.info-section {
    background: white;
    padding: 64px 450px;
    padding-bottom: 150px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 64px;
}

.info-card-image {
    background: white;
    height: 176px;
    width: 176px;
    border-radius: 16px;
    border: 4px solid #0077ff;
}

.info-card-subtext {
    font-size: 18px;
    width: 176px;
    color: #2e2e30;
    margin: 8px;
}

/** 
    INFO-SECTION layout
**/

.info-all-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/** ================================
=========QUOTE-SECTION==============
=================================**/


/**
    QUOTE-SECTION typography, etc.
**/

.quote-section {
    background: #E5E7Eb;
    padding: 64px 500px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 16px;
}

.quote-by {
    font-size: 20px;
    font-weight: bold;
    color: black;
}


/** 
    QUOTE-SECTION layout
**/

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.quote-by {
    align-self: flex-end;
}


/** ================================
=========CTA-SECTION==============
=================================**/


/**
    CTA-SECTION typography, etc.
**/

.cta-section {
    background: white;
    padding: 64px 400px;
}

.cta-container {
    background: #3882F6;
    height: 100px;
    width: 800px;
    padding: 32px 96px;
    border-radius: 24px;
}

.cta-left,
.cta-button {
    color: white;
}

.cta-main-text {
    font-size: 24px;
    font-weight: 550;
}

.cta-subtext {
    font-size: 16px;
    font-weight: 400;
}

.cta-button {
    font-size: 20px;
    font-weight: 550;
    background: #3882F6;
    border: 2px solid white;
    border-radius: 16px;
    height: 50px;
    width: 140px;
    padding: 4px 10px;
}


/** 
    CTA-SECTION layout
**/

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/** ================================
=========FOOTER==============
=================================**/


/**
    FOOTER typography, etc.
**/

footer {
    background: #1F2937;
    height: 128px;
}

.footer-text {
    color: white;
    font-size: 16px;
}

/** 
    FOOTER layout
**/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}